.margin-top-10{
  margin-top: 10px;
}
.margin-top-15{
  margin-top: 15px!important;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-bottom-30{
  margin-bottom: 30px!important;
}
.float-left{
  float: left;
}   
.no-margin{
  margin: 0!important;
}
.no-bg{
  background-color: $nocolor!important;
}
.col-no-padding{
  div[class*="col-"]{
    padding: 0!important;
  }
}
.p-static{
  position: static!important;
}
.p-relative{
  position: relative!important;
}
.bg-white{
  background: $white;
}
.bg-black{
  background: #333333;
}

.ui-widget-content{
  color: $text-color;
}

//Social
.connect {
  ul {
    margin-bottom: 0;
      li {
        text-align: center;
        padding-right: 0;
        width: 16.5%;
        height: 52px;
        padding-top: 12px;
        margin-right: -4px;

        &.social-facebook{
            &:hover {
              background-color: #3a5898;
            }
        }
        &.social-twitter{
            &:hover {
              background-color: #00acee;
            }
        }
        &.social-google{
            &:hover {
              background-color: #dd6363;
            }
        }
        &.social-youtube{
            &:hover {
              background-color: #ce3527;
            }
        }
        &.social-letter{
            &:hover {
              background-color: #ccc33b;
            }
        }
        &.social-rss  {
            width: 51px;
            &:hover {
              background-color: #e78e2f;
            }
        }
          &:first-child{
            border-left: none;
          }
          a {
            font-size: 20px;
            color: #686868;
            padding-left: 6px;
          }
      }
  }
}

.footer-social {
  display: inline-block;
  text-align: center;
  width: 100%;
  h5 {
    color: #fff;
    float: left;
    font-size: 16px;
    width: 100%;
    letter-spacing: 2px;
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    li {
      display: inline-block;
      padding: 5px 10px 10px;
      a {
        color: #6b6b6b;
        text-decoration: none;
        @include transition(all 0.5s ease 0s);
        i {
          font-size: 20px;
        }
        &:hover{
          i{
            color: $white;
          }
          i.fa-facebook-square {
            color: #3b5998;
          }
          i.fa-twitter-square {
            color: #4099ff;
          }
          i.fa-skype {
            color: #12a5f4;
          }
          i.fa-dribbble {
            color: #ea4c89;
          }
          i.fa-linkedin-square {
            color: #0e76a8;
          }
          i.fa-apple {
            color: #f2f2f2;
          }
          i.fa-pinterest {
            color: #c92228;
          }
          i.fa-google-plus-square {
            color: #d34836;
          }
          i.fa-youtube-square {
            color: #c4302b;
          }
          i.fa-vimeo-square {
            color: #4ebbff;
          }
          i.fa-tumblr-square {
            color: #35465c;
          }
          i.fa-xing-square {
            color: #126567;
          }
          i.fa-instagram {
            color: #e8e2d9;
          }
        }
      }
    }
  }
}

.social-flat ul{
  @include clearfix();
  margin: 0!important;
  > li{
    float: left;
    width: 20%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 32px;
  }
}
.social-flat a {
    background-image: url("#{$base-theme-image-path}/sprite-flat.png") !important;
    text-indent: 9999px;
    @include size(32px, 32px);
    display: inline-block;
    overflow: hidden;
    color: transparent;
    font-size: 0;
    @include opacity(1);
    @include transition(all 0.35s);
    &:hover{
      @include opacity(0.65);
    }
}

.social-flat{
  .twitter a {
    background-position: 0 0 !important;
  }
  .facebook a {
    background-position: -32px 0 !important;
  }
  .youtube a {
    background-position: -64px 0 !important;
  }
  .googleplus a {
    background-position: -96px 0 !important;
  }
  .instagram a {
    background-position: -192px 0 !important;
  }
  .steam a {
    background-position: -224px 0 !important;
  }
  .soundcloud a {
    background-position: -256px 0 !important;
  }
  .twitch a {
    background-position: -288px 0 !important;
  } 
  .linkedin a {
    background-position: -320px 0 !important;
  }
  .pinterest a {
    background-position: -352px 0 !important;
  }
  .vimeo a {
    background-position: -384px 0 !important;
  }
  .tumblr a {
    background-position: -448px 0 !important;
  }
  .github a {
    background-position: -480px 0 !important;
  }
}

.post-masonry-style > div{
  margin-left: -1px;
  @include translateX(1px);
}

.nav-tabs {
  border-color: #eee;
  > li {
    > a {

      font-weight: 700;
      color: #444;
      padding: 8px 14px;
      @include border-radius(3px 3px 0 0);
      border: 1px solid #eee;
      border-bottom: none;
      @include box-shadow(0 0 15px rgba(0, 0, 0, 0.04) inset);
      @include transition(all 0.2s ease-in-out);
      i {
        margin-right: 5px;
      }
      &:hover, &:focus {
        color: $theme-color;
        border-color: #fff;
        @include box-shadow(0 0 15px rgba(0, 0, 0, 0.1) inset);
      }
    }
    &.active > a {
      border-color: #eee;
      border-bottom-color: $theme-color;
      &:hover, &:focus {
        border-color: #eee;
        border-bottom-color: $theme-color;
      }
      @include box-shadow(0 0 0px rgba(0, 0, 0, 0.1) inset);
      &:hover {
       @include box-shadow(0 0 0px rgba(0, 0, 0, 0.1) inset);
      }
    } 
  }
  &.drupal-tabs{
    @include clearfix();
    border-bottom: 1px solid $border-color;
    border-top: 0!important;
    > li > a{
      line-height: 3;
    }
  }
}


.bean-tab{
  .nav-tabs > li {
    padding: 0 15px;
    border-right: 1px solid $border-color;
    &:last-child{
      padding-right: 0;
      border-right: 0;
    }
    &:first-child{
      padding-left: 0;
    }
    > a{
      font-family: $font-second;
      border: none!important;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      background: $nocolor;
      @include box-shadow(none);
      &:hover, &:active, &:focus{
        background: none!important;
      }
    }
    &.active{
      > a{
        color: $theme-color!important;
      }
    }
  }
  &.tabs-vertical{
    .heading-tabs{
      ul{
        > li{
            a{
              display: block;
              font-size: 12px;
              text-transform: uppercase;
              border-bottom: 1px dashed $border-color;
              padding: 10px 0!important;
              background: none!important;
              width: 100%;
            }
          &:last-child a{
            border: none;
          }
        }
      }
    }
  }
}


.box-quick-link{
  ul {
    padding: 0;
    margin: 0;
      > li{
        @include size(46%, 70px);
        border: 1px solid $border-color;
        float: left;
        list-style: none;
        text-align: center;
        margin-bottom: 8%;
        &:nth-child(2n){
          margin-left: 4%;
        }
        &:nth-child(2n+1){
          margin-right: 4%;
        }
        a{
          font-weight: 600;
          font-size: 13px;
          display: block;
          line-height: 1.8;
          padding-top: 12px;
          i{
            display: block;
            font-size: 23px;
            color: #777777;
          }
          &:hover{
            color: $white;
            i{
              color: $white;
            }
          }
        }
      &:hover{
        background-color: #555555;
        *{
          color: $white;
        }
      }
    }
  }
}


.init-carousel-owl{
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
  .owl-item > .item{
    padding-left: 15px;
    padding-right: 15px;
  }
}

// OWL carousel-------------------------
.owl-carousel{
  background: none!important;
  .owl-controls{
    margin: 0;
    .owl-pagination{
      position: relative;
      bottom: 10px;
      z-index: 9;
      display: inline-block;
      width: 100%;
      left: 0;
      .owl-page {
        span{
          background: #d6d6d6;
          @include size(10px, 10px);
        }
        &.active span{
          background: #869791;
        }
      }
    }
  }

  .owl-buttons{
    @include opacity(0);
    @include transition(opacity 0.35s);
    > div{
      @include transition(all 0.35s);
      position: absolute;
      top: 50%;
      margin-top: -22.5px;
      text-indent: -999999px;
      @include size(40px, 40px);
      color: $white;
      border: 2px solid rgba(0, 0, 0, 0.6);
      background: rgba(0, 0, 0, 0.3);
      &:hover{
        background: rgba(0, 0, 0, 0.8);
        color: $white;
      }
      &:before{
        position: absolute;
        font-family: 'FontAwesome';
        text-indent: 1px;
        top: 0;
        right: 0;
        font-size: 25px;
        @include size(100%, 100%);
        line-height: 35px;
        text-align: center;
      }
      &.owl-prev{
        right: 0;
        margin-right: 0;
        &:before{
          content: "\f105";
        }
      }
      &.owl-next{
        left: 0;
        margin-left: 0;
        &:before{
          content: "\f104";
        }
      }
    }
  }
  &:hover .owl-buttons{
    @include opacity(1);
    .owl-next{
      margin-left: 30px;
    }
    .owl-prev{
      margin-right: 30px;
    }
  }
}

div.error{
  background-repeat: no-repeat!important;
  background-image: none!important;
}

// OWL carousel-------------------------
.owl-carousel{
  background: none!important;
  .owl-controls{
    margin: 0;
    .owl-pagination{
      position: relative;
      bottom: 10px;
      z-index: 9;
      display: inline-block;
      width: 100%;
      left: 0;
      .owl-page {
        span{
          background: #d6d6d6;
          @include size(10px, 10px);
        }
        &.active span{
          background: #869791;
        }
      }
    }
  }  
  .owl-nav{
    @include opacity(0);
    @include transition(opacity 0.3s);
    > div{
      @include transition(all 0.3s);
      position: absolute;
      top: 50%;
      margin-top: -20px;
      @include size(40px, 40px);
      color: $white;
      background: rgba(0, 0, 0, 0.5);
      @include opacity(1);
      line-height: 36px;
      text-align: center;
      font-size: 25px;
      padding-top: 0;
      padding-bottom: 0;
      &:hover{
        background: rgba(0, 0, 0, 0.8);
        color: $white;
        height: 80px;
        line-height: 80px;
        margin-top: -40px;
      }
      &.owl-prev{
        right: auto!important;
        left: 15px!important;
      }
      &.owl-next{
        left: auto!important;
        right: 15px!important;
      }
    }
  }
  &:hover .owl-nav{
    @include opacity(1); 
    .owl-next{
      margin-left: 30px;
    }
    .owl-prev{
      margin-right: 30px;
    }   
  }
}

.box-shadow{
  background-image: radial-gradient(circle at 50% 50%, white, #e0e0e0);
  background-image: -webkit-radial-gradient(circle at 50% 50%, white, #e0e0e0);
  background-image: -moz-radial-gradient(circle at 50% 50%, white, #e0e0e0);
  background-image: -o-radial-gradient(circle at 50% 50%, white, #e0e0e0);
  position: relative;
  &:after{
    content: "";
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100%;
    z-index: 1;
    background: url('#{$base-theme-image-path}/shadow.png') no-repeat center bottom transparent;
    background-size: 990px;
    padding-bottom: 45px;
  }
}


.caption-title {
    -webkit-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.3s;
    -moz-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.3s;
    -ms-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.3s;
    -o-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.3s;
    transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.3s;
}
.caption-description {
    -webkit-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.7s;
    -moz-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.7s;
    -ms-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.7s;
    -o-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.7s;
    transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.7s;
}
.caption-action {
    margin-top: 15px;
    -webkit-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.8s;
    -moz-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.8s;
    -ms-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.8s;
    -o-transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.8s;
    transition: all 0.6s cubic-bezier(0.75, 0, 0.175, 1) 0.8s;
}

.gavias-slide-bottom{
  .caption-title, .caption-description, .caption-action {
    -webkit-transform: translate(0, 80%);
    -moz-transform: translate(0, 80%);
    -ms-transform: translate(0, 80%);
    -o-transform: translate(0, 80%);
    transform: translate(0, 80%);
    ms-transform: translate(0, 80%);
    @include opacity(0);
  }
} 

.active .gavias-slide-bottom{
  .caption-title, .caption-description, .caption-action {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    ms-transform: translate(0, 0);
    @include opacity(1);
  }
}


//--- Nano scroll ---
.nano-content{
  height: 513px;
  position: relative;
  overflow: hidden;
  @media(max-width: $screen-md-max){
    height: 412px;
  }
}

/* perfect-scrollbar v0.6.7 */
.ps-container {
  -ms-touch-action: none;
  overflow: hidden !important; }
  .ps-container.ps-active-x > .ps-scrollbar-x-rail,
  .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block; }
  .ps-container.ps-in-scrolling {
    pointer-events: none; }
    .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      @include opacity(.9); }
      .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      @include opacity(.9); }
      .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #999; }
  .ps-container > .ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    border-radius: 4px;
    @include opacity(0);
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    bottom: 3px;
    /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px; }
    .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      border-radius: 4px;
      -webkit-transition: background-color 0.2s linear;
      -moz-transition: background-color 0.2s linear;
      -o-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;
      bottom: 0;
      /* there must be 'bottom' for ps-scrollbar-x */
      height: 8px; }
  .ps-container > .ps-scrollbar-y-rail {
    display: block;
    position: absolute;
    /* please don't change 'position' */
    border-radius: 4px;
    @include opacity(0.1);
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    right: 3px;
    /* there must be 'right' for ps-scrollbar-y-rail */
    width: 4px; }
    .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      border-radius: 4px;
      -webkit-transition: background-color 0.2s linear;
      -moz-transition: background-color 0.2s linear;
      -o-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;
      right: 0;
      /* there must be 'right' for ps-scrollbar-y */
      width: 5px; }
  .ps-container:hover.ps-in-scrolling {
    pointer-events: none; }
    .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      @include opacity(.9); }
      .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      @include opacity(.9); }
      .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #999; }
  .ps-container:hover > .ps-scrollbar-x-rail,
  .ps-container:hover > .ps-scrollbar-y-rail {
    @include opacity(.6); }
  .ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: #eee;
    @include opacity(.6); }
    .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
      background-color: #999; }
  .ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: #eee;
    @include opacity(.6); }
    .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
      background-color: #999; }
